
<div class="well">
	<h2>Product List</h2>
	<button class="btn btn-primary btn-lg addProduct" ui-sref="form">Add Product</button>

	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Category</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='product in products'>
				<td>{{product.id}}</td>
				<td><img class="thumbnails" max-width="200px" src="{{product.image}}"></td>
				<td>{{product.name}}</td>
				<td>{{product.description}}</td>
				<td>{{product.category}}</td>
				<td>{{product.price | currency}}</td>
			</tr>

		</tbody>


	</table>
</div>
