body {
	padding: 3%;
	background-color: #ffcf96;
	color: white;
	background-image: url(https://cdn0.iconfinder.com/data/icons/containers/256/self1.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 125% -15%;


}

.viewDiv {
	text-align: center;
}



h1 {
	color: #11dfff;
	font-size: 84px;
	margin: -2%;
	font-weight: bold;
	text-shadow: #286090 2px 2px 1px;
	margin-left: 1%;
	margin-bottom: 2%;
	text-align: center;
}

h2 {
	color: #11dfff;
	font-size: 38px;
	font-weight: bold;
	text-shadow: #286090 2px 2px 1px;
}

.table {
	text-align: left;
	margin-top: 2%;
}
.well {
	text-align: center;
	margin-top: 3%;
	color: #286090;
	font-size: 18px;
}

img{
    width:100%;
    max-width:125px;
    margin-bottom: 3px;
}

.addProduct {
	margin-top: 3%;
}

#addProductForm {
	
}

#instructions {
	margin-bottom: 5%;
}